.section-three {
  padding: 10vh 4vh;
  background: #ddd;
  @include breakpoint(large) {
    padding: 12vh;
  }

  p {
    color: rgb(78, 78, 78);
    font-weight: 700;
  }

  .badge {
    font-size: 14px;
  }
}
