.section-four {
  background: #cadfdf;
  padding: 4vh;
  @include breakpoint(large) {
    padding: 12vh;
  }

  h5 {
    margin-bottom: 2px !important;
    color: #666666;
  }

  .badge-pill {
    font-size: 12px;
    // font-weight: 500 !important;
    text-transform: lowercase;
  }
}
