.sidebar {
  position: relative;
  // background: #abebc6;

  @include breakpoint(large) {
    position: fixed;
  }
  @include breakpoint(medium) {
    position: fixed;
  }
  img {
    height: 180px;
    border-radius: 50%;
  }

  .auth-content {
    color: #202020;
    font-family: "Montserrat", sans-serif !important;
    font-weight: 800;
    text-transform: uppercase;
    .name {
      background-color: #ddd;
      padding: 5px;
    }
  }

  .badge {
    font-size: 12px;
  }

  .social-icons {
    a {
      color: #525252;
      .fa {
        font-size: 25px;
      }

      &:hover {
        color: black;
      }
    }
  }
}
