$font-title: "Montserrat", sans-serif;
$font-body: "Open Sans", sans-serif;

$breakpoints: (
  small: 499px,
  medium: 699px,
  large: 1025px,
  xlarge: 1399px
);

@mixin breakpoint($size) {
  $breakpoint-value: map-get($breakpoints, $size);

  @media screen and (min-width: $breakpoint-value) {
    @content;
  }
}
